body {
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 5px dotted red;
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: nowrap; */
  flex-flow: row wrap;
  /* combo of flex direction and flex wrap */
  justify-content: space-evenly;
  align-items: stretch;
}
li {
  border: 5px solid #999;
  margin: 0.5em;
  padding: 0.5em;
}

.flex2 {
  border: 4px dashed rgb(4, 4, 22);
  order: 2;
  flex: 0 1 25%;
  /*flex: grow shrink basis */
}
